pom.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://apache.org">
    <xs:element name="project">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="modelVersion" type="xs:string" />
                <xs:element name="parent">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="groupId" type="xs:string" />
                            <xs:element name="artifactId" type="xs:string" />
                            <xs:element name="version" type="xs:string" />
                            <xs:element name="relativePath" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="groupId" type="xs:string" />
                <xs:element name="artifactId" type="xs:string" />
                <xs:element name="version" type="xs:string" />
                <xs:element name="packaging" type="xs:string" />
                <xs:element name="name" type="xs:string" />
                <xs:element name="description" type="xs:string" />
                <xs:element name="properties">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="java.version" type="xs:string" />
                            <xs:element name="maven.compiler.source" type="xs:string" />
                            <xs:element name="maven.compiler.target" type="xs:string" />
                            <xs:element name="project.build.sourceEncoding" type="xs:string" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="dependencies">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="dependency" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="groupId" type="xs:string" />
                                        <xs:element name="artifactId" type="xs:string" />
                                        <xs:element name="scope" minOccurs="0" type="xs:string" />
                                        <xs:element name="optional" minOccurs="0" type="xs:string" />
                                        <xs:element name="version" minOccurs="0" type="xs:string" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="dependencies">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="dependency">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="groupId" type="xs:string" />
                                                    <xs:element name="artifactId" type="xs:string" />
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="project">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="modelVersion" type="xs:string" />
                                        <xs:element name="parent">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="groupId" type="xs:string" />
                                                    <xs:element name="artifactId" type="xs:string" />
                                                    <xs:element name="version" type="xs:string" />
                                                    <xs:element name="relativePath" />
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="groupId" type="xs:string" />
                                        <xs:element name="artifactId" type="xs:string" />
                                        <xs:element name="version" type="xs:string" />
                                        <xs:element name="properties">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="java.version" type="xs:string" />
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="dependencies">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="dependency">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="groupId"
                                                                    type="xs:string" />
                                                                <xs:element name="artifactId"
                                                                    type="xs:string" />
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="build">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="plugins">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="plugin">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element
                                                                                name="groupId"
                                                                                type="xs:string" />
                                                                            <xs:element
                                                                                name="artifactId"
                                                                                type="xs:string" />
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="build">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="plugins">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="plugin">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="groupId" type="xs:string" />
                                                    <xs:element name="artifactId" type="xs:string" />
                                                    <xs:element name="configuration">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="excludes">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element
                                                                                name="exclude">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element
                                                                                            name="groupId"
                                                                                            type="xs:string" />
                                                                                        <xs:element
                                                                                            name="artifactId"
                                                                                            type="xs:string" />
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>